/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* MAIN */

/* CONTANIER_1 */
#contanier_1{
    margin-bottom: 30px;
}

#contanier_1 > h1{
    margin: 30px;
    color:rgba(228,49,112,255);
}

#contanier_1 > p{
    color: rgb(76, 74, 74);
}

/* CONTANIER_2 */

/* COLUMNS */
.columns{
    width: calc(95%/3);
    float: left;
}

.column_2{
    margin-inline: calc(5%/2)
}

/* SLOTS */
.slot{
    margin-bottom: 50px;
    background-color: rgba(15,14,23,255);
    box-shadow: 2px 2px 2px 2px rgba(209,209,208,255)
}

/* PROFILE_PIC */
.profile_pic{
    width: 20%;
    float: left;
}

.profile_pic >img{
    display: block;
    width: 100%;
}

/* PROFILE_INFO */
.profile_info {
    width:calc(80% -((79px - 63px)/ 2) );
    margin:calc((79px - 63px)/ 2); 
    float:left;
    text-align: left;
    
}

.profile_info h3,span{
    color: white;
    display: block;
}

.profile_info a{
    color: rgba(32,168,199,255);
    text-decoration: none;
    display: inline-block;
}

.profile_info > a:hover{
    color:rgba(228,49,112,255);
}



/* DEBUG 
#contanier_1{
    border: 1px solid black;
}

#contanier_2{
    border: 1px solid gray;
}

.columns{
    border: 1px solid orangered;
    
}

.slot{
    border: 1px solid green;
}

.description{
    border: 1px solid violet;
}

.profile_pic{
    border: 1px solid blue;
} 
*/

